<h1>Cadastrar Categoria</h1>

<form action="/categorias/cadastrar" method="post">
<div>
<label for="nome">nome</label>
<input type="text" name="nome" id="nome"/> 
</div>
<div style="margin-top:10px"><label for="descricao">Descrição</label>
<textarea name="descricao" ></textarea>
</div>

<button type="submit">Salvar</button>
</form>